{% extends 'base.html' %}
{% block content %}
<html>
<head>
  <h1>Login Here</h1>
</head>
<body></body>
  <form action="login" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button class="btn btn-success" type="submit">Login</button>
  </form>
<div>
    {% for message in messages %}
    <h4>{{message}}</h4>
    {% endfor %}
</div>

</body>
  <p class="text-center">Don't have an account?<a href="{% url 'Registration' %}"> Create an account</a>. </p>
</html>

{% endblock %}